body{
    background-color:brown;
    text-align:center
}
div{
    margin-top: 15px;
}
.img-section{
    display: flex;
    justify-content: center;
}

.section-style{
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}
img{
    width:300px;
    height: 300px;
}